/* Fonts */
@font-face {
  font-family: "Dana";
  src: url("../src/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "DanaMedium";
  src: url("../src/fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "DanaDemiBold";
  src: url("../src/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "MorabbaLight";
  src: url("../src/fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "MorabbaMedium";
  src: url("../src/fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "MorabbaBold";
  src: url("../src/fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
  font-display: swap;
}
/* Root */
:root {
  /* fonts root */
  --font-primary: "Dana";
  --font-primary_medium: "DanaMedium";
  --font-secondary_medium: "MorabbaMedium";
  --font-secondary_bold: "MorabbaBold";

  /* colors root */
  --yellow-light: #fff1b8;
  --yellow-dark: #ecb704;
  --green-light: #ecfedb;
  --green-dark: #a9d284;
  --blue-light: #cdefff;
  --blue-dark: #66b4f4;
  --black-dark: #403d39;
  --gray-light: #e9e9e9;
  --gray-medium: #c6c6c6;
  --gray-dark: #6f6f6f;
  --white-light: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  list-style: none;
}

h3 {
  font-family: var(--font-secondary_medium);
}

/* Repetitive classes */
.header-container,
.section-container {
  max-width: 1298px;
  padding: 0 12px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-border-radius {
  border-radius: 32px 4px 32px 32px;
}

.hidden-right {
  right: -300px;
}

.show-right {
  right: 0;
}

.sections-style {
  padding: 32px;
  border-radius: 32px;
}

.sections-boxes-style {
  border-radius: 16px;
  border: 1px solid var(--black-dark);
  background-color: var(--white-light);
}

.boxes-bar-line {
  position: absolute;
  bottom: -13px;
  left: 14px;
  content: "";
  height: 12px;
  width: calc(50% - 16px);
  border-radius: 0 0 16px 16px;
  transition: all 0.3s;
}

.sections-flex-col {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.sections-title-box {
  flex-direction: column;
  position: relative;
}

.sections-title {
  position: relative;
  text-align: center;
  z-index: 2;
  font-size: 32px;
}

/* Main */
.body {
  font-family: var(--font-primary);
}

/* Mobile side bar */
.mobile-side-menu {
  position: fixed;
  z-index: 9;
  top: 0;
  width: 300px;
  height: 100vh;
  padding: 32px;
  overflow-y: auto;
  background-color: var(--white-light);
  transition: all 0.5s;
}

.side-menu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  color: var(--yellow-dark);
  background-color: var(--yellow-light);
}

.side-menu-nav li {
  border-top: 1px solid var(--gray-light);
  padding: 16px 0;
}

.brandis-side-logo {
  width: 108px;
}

.close-btn {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

/* Template header */
.template-header {
  padding: 24px;
  background-color: var(--yellow-light);
}

.inner-template-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  border-radius: 10px;
  border: 1px solid var(--black-dark);
  background-color: var(--white-light);
}

/* Header logo */
.template-header-logo {
  width: 128px;
}

.template-header-divider {
  width: 1px;
  height: 46px;
  margin: 0 8px;
  opacity: 0.15;
  background-color: var(--black-dark);
}

/* Header nav */
.template-header-nav {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 15px;
}

.header-nav-links a:hover {
  transition: all 0.4s;
  color: var(--yellow-dark);
}

.home-link {
  border: none !important;
  color: var(--yellow-dark);
}

.examples-link {
  position: relative;
  display: flex;
  gap: 4px;
}

.examples-link svg {
  width: 14px;
  height: 14px;
  margin-top: 3px;
}

.sub-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid var(--black-dark);
  background-color: var(--white-light);
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  z-index: 8;
  transition: all 0.6s;
  transform: translateX(40px) translateY(20px);
}

.sub-menu a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sub-menu-dot {
  display: block;
  width: 6px;
  height: 6px;
  background-color: var(--black-dark);
  border-radius: 50%;
}

.header-nav-links:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: translateX(40px) translateY(8px);
}

/* Header btns */
.template-header-btns {
  gap: 8px;
}

.shopping-basket-btn {
  cursor: pointer;
  position: relative;
  width: 48px;
  height: 48px;
  border: 1px solid var(--black-dark);
}

.shopping-basket-btn > svg {
  width: 24px;
  height: 24px;
}

.product-counter {
  position: absolute;
  top: 4px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--yellow-dark);
}

.login-btn,
.advice-btn {
  gap: 6px;
  height: 48px;
  padding: 0 24px;
  color: var(--white-light);
  background-color: var(--black-dark);
  font-family: var(--font-primary_medium);
}

.login-btn > svg {
  width: 24px;
  height: 24px;
}

.login-btn:hover,
.advice-btn:hover {
  transition: all 0.4s;
  color: var(--black-dark);
  background-color: var(--yellow-dark);
}

.nav-btn {
  display: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: 1px solid var(--black-dark);
}

.nav-btn > svg {
  width: 24px;
  height: 24px;
}

/* Section intro */
.intro {
  margin-bottom: 50px;
}

.intro-section {
  padding-top: 46px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: var(--yellow-light);
}

.intro-inner-right {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 120px;
}

.intro-inner-right img {
  position: absolute;
  top: -118px;
  right: 8px;
}

.intro-subtitle,
.intro-caption {
  color: var(--gray-dark);
}

.intro-title {
  font-size: 48px;
  color: var(--black-dark);
  font-family: var(--font-secondary_bold);
}

.intro-title span {
  color: var(--yellow-dark);
}

.advice-btn {
  z-index: 8;
}

.advice-btn svg {
  width: 20px;
  height: 20px;
}

/* Section services */
.services-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 44px;
  flex-wrap: wrap;
  background-color: var(--green-light);
}

.services-inner-boxes,
.about-inner-boxes {
  width: 376px;
  padding: 20px 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

.services-inner-boxes h3 {
  font-size: 21px;
}

.services-bar {
  background-color: var(--green-dark);
}

.sections-boxes-style:hover .boxes-bar-line {
  width: calc(100% - 32px);
}

/* Section about us */
.about-us {
  margin-top: 100px;
}

.about-section {
  background-color: var(--blue-light);
}

.about-section-inner {
  text-align: center;
  padding: 40px 0;
}

.about-section-title h3 {
  width: 440px;
  background-color: var(--blue-light);
}

.dash-line {
  position: absolute;
  bottom: 14px;
  left: 0;
  width: 100%;
  border-bottom: 1px dashed var(--gray-medium);
}

.about-shape {
  position: absolute;
  left: 92px;
  top: 28px;
}

.about-section-text {
  padding: 0 200px;
}

.about-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 44px;
  flex-wrap: wrap;
}

.about-inner-boxes {
  width: 396px;
}

.about-inner-boxes div {
  text-align: right;
}

.about-inner-boxes p {
  color: var(--gray-dark);
}

.about-inner-boxes h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.about-bar {
  background-color: var(--blue-dark);
}

/* Brands section */
.brands {
  margin: 100px 0;
}

.brands-section {
  border: 1px solid var(--black-dark);
  border-right: 0;
  border-left: 0;
  padding: 20px 0;
}

.brands-section .swiper {
  width: 100%;
  height: 100%;
}

.brands-section .swiper-slide {
  width: calc(100% / 6);
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/* Section plans */
.plans {
  height: 440px;
  margin-bottom: 400px;
  background-color: var(--yellow-light);
}

.section-plans {
  padding-top: 20px;
}

.section-plans-boxes {
  flex-direction: column;
  gap: 40px;
}

.section-plans-title h3 {
  width: 480px;
  background-color: var(--yellow-light);
}

.section-plans-title img {
  position: absolute;
  right: 100px;
  bottom: -60px;
}

.plans-inner-boxes {
  width: 892px;
  position: relative;
  display: flex;
  gap: 52px;
}

.plans-inner-boxes .plan-shape {
  position: absolute;
  left: -80px;
  bottom: 0;
}

.plans-img-box {
  width: 156px;
  border-radius: 0 16px 16px 0;
}

.vip-plan,
.plans-bar {
  background-color: #fdd655;
}

.standard-plan {
  background-color: #fee699;
}

.economic-plan {
  background-color: #fff7dd;
}

.plans-info-box {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 8px;
}

.plans-info-box a {
  width: 128px;
  padding: 12px 0;
  margin-right: 48px;
  transition: all 0.5s;
  background-color: #f5d979;
  font-family: var(--font-primary_medium);
}

.plans-info-box a:hover {
  transition: all 0.4s;
  background-color: var(--yellow-dark);
}

.plans-info-inner {
  display: flex;
}

.plans-price-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 48px;
}

.plans-price-box h3 {
  font-size: 24px;
  margin-bottom: 12px;
  color: var(--gray-dark);
}

.plans-price-box span {
  font-family: var(--font-primary_medium);
  font-size: 24px;
  color: black;
}

.plans-option-box {
  padding: 0 48px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-right: 1px solid var(--gray-light);
  border-left: 1px solid var(--gray-light);
}

.plans-option-box div {
  display: flex;
  gap: 6px;
}

.plans-option-box svg {
  width: 16px;
  height: 16px;
  color: var(--gray-medium);
}

/* Section social media */
.social-media {
  margin: 100px 0;
}

.social-media-section {
  background-color: var(--blue-light);
}

.social-media-title h3 {
  width: 480px;
  background-color: var(--blue-light);
}

.social-links-box {
  display: flex;
  row-gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.social-media-links {
  width: 280px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-light);
}

.social-media-links div {
  gap: 12px;
}

.social-media-links svg {
  width: 20px;
  height: 20px;
  color: var(--blue-dark);
}

/* Target section */
.target {
  height: 280px;
}

.target-section {
  height: 100%;
  border-radius: 32px;
  background: url(/src/img/target-bg.svg) no-repeat center;
  background-color: var(--green-light);
}

.target-section-inner {
  text-align: center;
}

.target-section-inner h3 {
  font-size: 40px;
  margin-bottom: 20px;
}

.target-section-inner span {
  font-size: 24px;
}

/* Page overlay */
.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  inset: 0;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}

/* Responsive template */
@media only screen and (min-width: 1120px) and (max-width: 1238px) {
  /* Template header */
  .header-container {
    max-width: 960px;
  }

  .template-header-divider,
  .template-header-nav {
    display: none;
  }

  .nav-btn {
    display: flex;
  }

  .section-container {
    max-width: 1120px;
  }

  /* Section intro */
  .intro-subtitle {
    font-size: 20px;
  }

  .intro-title {
    font-size: 40px;
  }

  .intro-inner-right {
    padding-left: 28px;
  }

  .intro-inner-right img {
    width: 480px;
    top: -108px;
    right: 8px;
  }

  .intro-inner-left img {
    width: 560px;
  }

  /* Section services */
  .services-inner-boxes {
    width: 320px;
  }

  .services-inner-boxes h3 {
    font-size: 20px;
  }

  /* Section about us */
  .about-inner-boxes {
    width: 520px;
  }

  /* Section social media */
  .social-media-links {
    width: 330px;
  }
}

@media only screen and (min-width: 860px) and (max-width: 1120px) {
  /* Template header */
  .header-container,
  .section-container {
    max-width: 840px;
  }

  .template-header-divider,
  .template-header-nav {
    display: none;
  }

  .nav-btn {
    display: flex;
  }

  /* Section intro */
  .intro-section {
    padding-top: 144px;
    flex-direction: column;
    gap: 20px;
  }

  .intro-subtitle {
    font-size: 20px;
  }

  .intro-title {
    font-size: 40px;
  }

  .intro-inner-right {
    padding-left: 28px;
    margin-bottom: 64px;
  }

  .intro-inner-right img {
    top: -132px;
    right: 0;
  }

  .intro-inner-left img {
    width: 440px;
  }

  /* Services section */
  .services-inner-boxes {
    width: 360px;
  }

  .services-section {
    column-gap: 10px;
  }

  /* Section plans */
  .plans-inner-boxes {
    width: 100%;
    gap: 28px;
  }

  .plans-price-box {
    padding-left: 32px;
  }

  .plans-option-box {
    padding: 0 32px;
  }

  .plans-inner-boxes a {
    margin-right: 32px;
  }

  /* Section social media */
  .social-media-links {
    width: 368px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 860px) {
  /* Template header */
  .header-container {
    max-width: 760px;
  }

  .template-header-divider,
  .template-header-nav {
    display: none;
  }

  .nav-btn {
    display: flex;
  }

  /* Section intro */
  .intro-section {
    padding-top: 144px;
    flex-direction: column;
    gap: 20px;
  }

  .intro-subtitle {
    font-size: 20px;
  }

  .intro-title {
    font-size: 40px;
  }

  .intro-inner-right {
    padding-left: 28px;
    margin-bottom: 64px;
  }

  .intro-inner-right img {
    top: -132px;
    right: 0;
  }

  .intro-inner-left img {
    width: 440px;
  }

  /* Services section */
  .services-inner-boxes {
    width: 320px;
  }

  .services-section {
    column-gap: 8px;
  }

  /* Section about us */
  .about-inner-boxes {
    width: 360px;
  }

  .about-section-text {
    padding: 0 80px;
  }

  .about-inner-boxes p {
    font-size: 14px;
  }

  /* Section plans */
  .plans {
    margin-bottom: 460px;
  }

  .plans-inner-boxes {
    width: 100%;
    gap: 0;
  }

  .plans-info-box {
    padding: 20px 8px;
    flex-direction: column;
    gap: 14px;
  }

  .plans-price-box {
    padding-left: 40px;
  }

  .plans-option-box {
    padding-left: 0;
    padding-right: 40px;
    border-left: none;
  }

  .plans-inner-boxes a {
    margin-right: 0;
    margin-left: 60px;
    width: 160px;
  }

  /* Section social media */
  .social-media-links {
    width: 330px;
  }
}

@media only screen and (min-width: 580px) and (max-width: 768px) {
  /* Template header */
  .header-container {
    max-width: 560px;
  }

  .template-header-logo {
    width: 86px;
  }

  .template-header-divider,
  .template-header-nav {
    display: none;
  }

  .login-btn {
    padding: 0;
    width: 48px;
    height: 48px;
  }

  .login-btn span {
    display: none;
  }

  .nav-btn {
    display: flex;
  }

  /* Section intro */
  .intro-section {
    padding-top: 144px;
    flex-direction: column;
    gap: 20px;
  }

  .intro-subtitle {
    font-size: 20px;
  }

  .intro-title {
    font-size: 40px;
  }

  .intro-inner-right {
    padding-left: 28px;
    margin-bottom: 64px;
  }

  .intro-inner-right img {
    width: 480px;
    right: 0;
  }

  .intro-inner-left img {
    width: 440px;
  }

  /* Services section */
  .services-inner-boxes {
    width: 100%;
  }

  /* About us section */
  .about-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-inner-boxes {
    width: 90%;
  }

  .about-section-text {
    padding: 0 60px;
  }

  /* Section plans */
  .plans {
    margin-bottom: 780px;
  }

  .plans-inner-boxes {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .plans-img-box {
    width: 100%;
    border-radius: 16px;
  }

  .plans-info-box {
    padding: 20px 0;
    flex-direction: column;
    gap: 14px;
  }

  .plans-price-box {
    padding-left: 36px;
  }

  .plans-price-box span {
    font-size: 20px;
  }

  .plans-option-box {
    padding-left: 0;
    padding-right: 36px;
    border-left: none;
  }

  .plans-inner-boxes a {
    margin: 0;
    width: 160px;
  }

  /* Target section */
  .target-section-inner h3 {
    font-size: 36px;
  }

  .target-section-inner span {
    font-size: 18px;
  }

  /* Section social media */
  .social-media-links {
    width: 100%;
  }

  .social-media-links img {
    width: 54px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 580px) {
  /* Template header */
  .header-container {
    max-width: 380px;
  }

  .section-container {
    max-width: 496px;
  }

  .template-header-logo {
    width: 86px;
  }

  .template-header-divider,
  .template-header-nav,
  .login-btn,
  .shopping-basket-btn {
    display: none;
  }

  .nav-btn {
    display: flex;
    width: 40px;
    height: 40px;
  }

  /* Section intro */
  .intro-section {
    padding-top: 68px;
    flex-direction: column;
    gap: 20px;
  }

  .intro-subtitle {
    font-size: 14px;
  }

  .intro-title {
    font-size: 28px;
  }

  .intro-inner-right {
    gap: 24px;
    padding-left: 28px;
    margin-bottom: 64px;
  }

  .intro-inner-right img {
    width: 320px;
    top: -52px;
    right: -8px;
  }

  .intro-inner-left img {
    width: 320px;
  }

  /* Services section */
  .services-inner-boxes {
    width: 100%;
  }

  .services-inner-boxes h3 {
    font-size: 18px;
  }

  /* About us section */
  .about-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-inner-boxes {
    width: 100%;
  }

  .about-inner-boxes h3 {
    font-size: 20px;
  }

  .about-inner-boxes p {
    font-size: 14px;
  }

  .about-section-text {
    padding: 0;
  }

  /* Section plans */
  .plans {
    margin-bottom: 780px;
  }

  .plans-inner-boxes {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .plans-img-box {
    width: 100%;
    border-radius: 16px;
  }

  .plans-info-box {
    padding: 20px 0;
    flex-direction: column;
    gap: 14px;
  }

  .plans-price-box {
    padding-left: 20px;
  }

  .plans-price-box span {
    font-size: 20px;
  }

  .plans-option-box {
    padding-left: 0;
    padding-right: 20px;
    border-left: none;
  }

  .plans-inner-boxes a {
    margin: 0;
    width: 160px;
  }

  /* Target section */
  .target-section-inner h3 {
    font-size: 32px;
  }

  .target-section-inner span {
    font-size: 16px;
  }

  /* Section social media */
  .social-media-title h3 {
    width: 100%;
  }

  .social-media-links {
    width: 100%;
  }

  .social-media-links img {
    width: 44px;
    height: 44px;
  }
}

@media only screen and (max-width: 480px) {
  /* Template header */
  .header-container {
    max-width: 380px;
  }

  .section-container {
    max-width: 420px;
  }

  .template-header-logo {
    width: 86px;
  }

  .template-header-divider,
  .template-header-nav,
  .login-btn,
  .shopping-basket-btn {
    display: none;
  }

  .nav-btn {
    display: flex;
    width: 36px;
    height: 36px;
  }

  /* Section intro */
  .intro-section {
    padding-top: 68px;
    flex-direction: column;
    gap: 20px;
  }

  .intro-subtitle {
    font-size: 14px;
  }

  .intro-title {
    font-size: 28px;
  }

  .intro-inner-right {
    gap: 24px;
    padding-left: 28px;
    margin-bottom: 64px;
  }

  .intro-inner-right img {
    width: 320px;
    top: -52px;
    right: -8px;
  }

  .intro-caption {
    font-size: 12px;
  }

  .advice-btn {
    font-size: 12px;
    padding: 0 12px;
    height: 36px;
  }

  .intro-inner-left img {
    width: 280px;
  }

  /* Services section */
  .services-inner-boxes {
    width: 100%;
  }

  .services-inner-boxes img {
    width: 52px;
    height: 52px;
  }

  .services-inner-boxes h3 {
    font-size: 18px;
  }

  /* About us section */
  .about-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-inner-boxes {
    width: 100%;
  }

  .about-inner-boxes h3 {
    font-size: 20px;
  }

  .about-inner-boxes p {
    font-size: 14px;
  }

  .about-section-text {
    padding: 0;
  }

  /* Section plans */
  .plans {
    margin-bottom: 760px;
  }

  .plans-inner-boxes {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .plans-img-box {
    width: 100%;
    border-radius: 16px;
  }

  .plans-info-box {
    padding: 20px 0;
    flex-direction: column;
    gap: 14px;
  }

  .plans-price-box {
    padding-left: 12px;
  }

  .plans-price-box span {
    font-size: 16px;
  }

  .plans-option-box {
    padding-left: 0;
    padding-right: 12px;
    border-left: none;
  }

  .plans-inner-boxes a {
    margin: 0;
    width: 120px;
  }

  /* Target section */
  .target-section-inner h3 {
    font-size: 32px;
  }

  .target-section-inner span {
    font-size: 16px;
  }

  /* Section social media */
  .social-media-title h3 {
    width: 100%;
  }

  .social-media-links {
    width: 100%;
  }

  .social-media-links img {
    width: 44px;
    height: 44px;
  }
}
